* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, h7, p, div, span, ul, li{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
  }

h1{
    
    font-size: 34px;
    color: #222;
    color: #A90533;
    color: #00205F;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    line-height: 120%;
  }
  p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 160%;
  }
  .cta{
    background-color: #A90533;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border-radius: 1px;
    font-family: 'Roboto', sans-serif;
  }
/* --------------------------- Header */
  .wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
  }
  video {
    min-width: 100%;
    min-height: 700px;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .overlay{
    min-width: 100%;
    min-height: 700px;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color:rgba(0, 32, 95, 0.7);
     */
     background: rgb(0,0,0);
      background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%);
      
      background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
  }
/* ------------- Nav */
  .navWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: relative;
    padding: 10px 30px 20px 30px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
  }
  .logo{
    /* opacity: 0; */
    height: 50px;
    width: 198px;
    height: 60px;
    width: 238px;
  }
  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
/* ------------- header */
 .headerWrap{
    position: relative;
    z-index: 3;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 2px solid blue; */
    /* background-color:rgba(0, 0, 0, 0.5); */
  }
  .headerWrap h1{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
  }
  .headerWrap p{
    color: #D7BD5B;
    height: 30px;
    font-size: 20px;
  }
  .headerWrap .cta{
    display: inline-block;
    /* margin-top: 10px; */
    padding: 18px 28px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 2px;
    border: 1px solid white;
  }
.logoSmall{
    height: 56px;
    width: 47px;
    height: 60px;
    width: 238px;
    height: 70px;
    width: 277px;
    opacity: 0;
}
  .vl{
    position: relative;
    z-index: 3;
    min-width: 100%;
    min-height: 140px;
    min-height: 280px;
  }
  .vl div {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color:rgba(255, 255, 255, 0.3);
    top: 0;
    left: 50%;
    display: none;
  }

/* --------------------------- Features */

.feature{
    position: relative;
    z-index: 6;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.features img{
    height: 566px;
    width: 849px;
}
.featureText{
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #EEEFF3;
    padding: 40px;
    width: 500px;
}

.featureText h1{
  margin-bottom: 10px;
}
.featureImgLeft{
    padding-left: 350px;
}
.featureTextRight{
    left: 0;
}

/* --------------------------- Full Width Features */

.fullFeature{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    z-index: 6;
    width: 100%;
    padding: 150px 50px;
    background-image: url("img/featureBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.fullFeature .textArea{
    width: 400px;
    /* border: 2px solid blue; */
    margin-left: auto; 
    margin-right: 0;
}
.fullFeature .textArea h1{
    margin-bottom: 20px;
}
.fullFeature .textArea p{
    margin-bottom: 20px;
}